@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Lato&family=Roboto&display=swap');


.landingSection {
  width: 100%;
  height: 100vh;
  margin: auto;
  background-color: #f1f5f9;
  padding: 40px;
  justify-content: center;
}
.mainDiv {
  width: 320px;

  height: 87px;
  margin-left: 24px;
  
}
.benchmarkPara {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
 text-align: start;
  font-family: 'Fira Sans';
  text-transform: uppercase;

  color: #041a72;
}
.dashbord {
  display: flex;
  font-family: 'Fira Sans';
  justify-content: space-between;
  margin: auto;
  
}
.mainHead {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-right: 60px;
  width: 200px;
  text-transform: uppercase;
  border-bottom: 1.2px solid #ef8903;
text-align: left;
  color: #041a72;
}
.mainHeadText {
  
  font-family: 'Fira Sans';
  
  bottom: 0%;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
text-align: start;
  color: #475569;
}
.mainContainer {
  width: 1295px;
  height: 301px;
  margin: auto;
  margin-left: 11px;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.Left_part1{
  width: 750px;
 height: 301px;

  
}

  .contentHead {
  background: #e7effa;
  height: 51px;
  border-radius: 4px 4px 0px 0px;
  display: flex;
  width: 750px;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}
.recentService {
  width: 95%;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.surveyPara {
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
text-align: left;
  color: #8da0ab;
  text-transform: uppercase;
}
.recentServiceRight {
  display: flex;
  width: 58%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding-top: 8px;
  
}
.legendItem {
  display: flex;
  justify-content: space-around;
  
  width: 100%;
  align-items: center;
}

.checkbox {
  background: #ef8903;
  border-radius: 2px;
  border: 1px solid #ef8903;
  width: 12px;
  height: 12px;
  margin-bottom: 12px;
}
.checkbox1 {
  background: #0866c6;
  border-radius: 2px;

  width: 12px;
  height: 12px;
  margin-bottom: 12px;
}
.checkbox3 {
  background: #1ea706;
  border-radius: 2px;

  width: 12px;
  height: 12px;
  margin-bottom: 12px;
}
.actionHead{
  background: #FFFFFF;
  display: flex;
  width: 750px;
align-items: center;
 
  justify-content: space-between;
box-shadow: 0px 2px 4px rgba(216, 220, 230, 0.52);
border-radius: 0px 0px 4px 4px;
padding-left: 10px;
border-bottom: 1px solid #DBDDE0;
height: 84px;
}
.actionHeadDiv{
  text-align: center;
  width: 32%;
  display: flex;
 
  
  flex-direction: row;
  
  

}
.triangleDiv{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 16px;
  align-items: center;
  position: relative;
    bottom: 10px;
}
.triangleCopy{
  position: relative;
   bottom: 16px;
}

.projectIcons{
  display: flex;
  align-items: center;
  flex-direction: column;

}

.actionChildDiv{
  width: 70%;
  display: flex;
  flex-direction: column;
                            
}
.button-Div{
  align-items: center;
  width: 1278px;
  height: 51px;
  margin: 30px;
}
.buttons-child{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buttons-group{
  justify-content: space-between;
  margin-right: 20px;
  display: flex;
  width: 55%;
}
.surveyPara1{
 
font-style: normal;
font-weight: 700;
font-size: 12px;
width: 100%;
margin-left: 4px;

text-align: left;
color: #52575C;
}
.surveyPara2{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;

color: #334155;
}
.surveyPara_legend{
  width: 18%;
}
.surveyStatus{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
text-align: left;



color: #52575C;

}
.buttonAction{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 6px 14px;

padding: 4px;
width: 77px;
height: 32px;
font-size: 14px;
font-weight: 500;
/* white */
color: #57534E;
background-color: #FFFFFF;

border: 1px solid #D1D5DB;

box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 4px;
}
.live{
  font-family: 'Fira Sans';
font-size: 12px;

text-transform: uppercase;
position: absolute;
left: 500px;
bottom: 298px;
color: #1EA706;
}
.Right_part {
 width: 508px;
 
 background-color: #041a72;
 
 height: 301px;
 
 
}
.img_CArd{
  width:100%;
  height: 301px;
  display: block;
}

.carousel-caption{
  color: #fff;
  text-align: left;
 
}
.eventPara {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  text-align: left;
  width: 320px;
 
  color: #ffffff;
 
}
.newEvt {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
 
  text-align: left;
  text-transform: capitalize;
  
  top: 4px;
  color: #ffffff;
}
.vBtn {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  
  text-align: left;
  text-transform: capitalize;
  
  color: #ffffff;
}
.vBtn img {
  width: 12px;
}
.buttonSlider {
 
 color: #fff;
  width: 120px;
  
  padding: 6px 14px;
  background: rgba(255, 255, 255, 0.3);
  font-size: 13px;
  font-weight: 600;
  border: none;
}

.buttonUser{
  width: 163px;
height: 38px;
display: flex;

justify-content: space-evenly;
flex-direction: row;
background: #FFFFFF;

align-items: center;
font-family: 'Fira Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;

text-align: center;

color: #57534E;
border: 1px solid #D1D5DB;

color: #78716C;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 6px;
}
.buttonUser2{
  width: 45px;
height: 38px;

background: #FFFFFF;
border: 1px solid #D1D5DB;
border-radius: 6px;
}
.buttonUser img{
  color: #78716C;
}
.buttonBench{
  font-family: 'Fira Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
/* identical to box height */
padding: 10px;
text-transform: capitalize;


color: #27272A;
}
.selectbtn{
  font-family: 'Fira Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
/* margin-left: 6px; */
padding: 7px;
color: #4B5563;
}
.imgCarousel{
  width: 100%;
  height: 248px;
}
@media (max-width: 400px) {
  .mainContainer {
    display: flex;
width: 100%;
    height: 301px;
    flex-direction: column;
    margin-top: 160px;
    background-color: #f1f5f9;
  }
  .mainHeadText{
    margin-bottom: 12px;
  }
  .mainDiv{
    width: 100%;
  }
  .Right_part {
    width: 360px;
    display: flex;
    margin-left: 20px;
    height: 100%;
    flex-direction: column;
  }
  .eventPara {
    width: 280px;
    
    text-align: left;
  }
  .carousel-caption {
    height: 210px;
    margin-left: 20px;
    top: 24px;
  }
  .btn-secondary {
    margin-left: 94px;
  }
  .Left_part1{
    max-width: 400px;
  }
  .buttons-child{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    justify-content: flex-start;
   
  }
  
  
  .live{
    font-family: 'Fira Sans';
font-size: 12px;

text-transform: uppercase;
position: absolute;
left: 484px;
bottom: 362px;
color: #1EA706;
  }
  .button-Div{
    position: relative;
    top: 180px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
@media (max-width:768px){
  .mainContainer {
    display: flex;
width: auto;
    height: 301px;
    flex-direction: column;
  }
  .Right_part {
    width: 360px;
    display: flex;
    margin-left: 20px;
    height: 100%;
    flex-direction: column;
    
    
  }
  .eventPara {
    width: 280px;
    
    text-align: left;
  }
  .carousel-caption {
    height: 210px;
    margin-left: 20px;
    top: 24px;
  }
  .btn-secondary {
    margin-left: 94px;
  }
  .mainContainerLeft{
    max-width: 400px;
  }
  .live{
    font-family: 'Fira Sans';
font-size: 12px;

text-transform: uppercase;
position: absolute;
left: 484px;
bottom: 362px;
color: #1EA706;
  }
}
